.popup {
    position: absolute;
    flex: auto;
    display: flex;
    flex-direction: column;
    padding: 0.5vh;
    margin-bottom: 50%;
    background-color: #303a21;
    color: #c4d6a7;
    z-index: 2;
    text-align: center;
}

.notice {
    flex: auto;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0.5vh;
    padding: 2vh;
    padding-bottom: 1vh;
    font-size: 3.5vmin
}

.message {
    flex: auto;
    font-weight: 100;
    cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
    .message {
        animation: message-flash infinite 1.5s linear;
    }
}

@keyframes message-flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.25;
    }

    100% {
        opacity: 0;
    }
}